{% extends "base-with-sidebar.html" %}
{% block content %}
<h2>{{ page_title }}</h2>
<div class="item-grid">
    {% for item in items %}
    <div class="catalog-item card cardlayout">
        <h3><a href="{{ url_for('get_item_page', id = item.id) }}">{{ item.name }}</a></h3>
        <p class="item-info">
            {{ item.nice_date }}
            <span class="item-info-separator">|</span>
            by <a href="{{ url_for('get_my_items_page', user_id=item.user_id) }}">
                {% if item.user %}{{item.user.name}}{% else %}Unknown user{% endif %}</p>
            </a>
        <p class="desc">{{ item.short_desc }}</p>
        <div class="item-category-row">
            <p>Category: <a href="{{ url_for('category_page', category_id=item.category_id) }}">{{ item.category.name }}</a></p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
